In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Weather Loader").getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x79fb0c25c5f0>

In [ ]:
historic_df = spark.read.csv("/content/drive/MyDrive/air_quality_final_20250929_105402.csv", header=True, inferSchema=True)

# Filter out rows with year less than 2000 and missing aqi values
historic_df = historic_df.filter((historic_df.year >= 2000) & (historic_df.aqi.isNotNull()))

# Drop the specified columns
historic_df = historic_df.drop("_c21", "geocoding_source")

historic_df.show()

+--------------+----------------+----------------------+------------------------------+--------------------+----+----+---------+------+----+-----+---+-------------------+----+------+------+---+------------+----------+----------+
|_sampling_date|           state|city_town_village_area|location_of_monitoring_station|    type_of_location| so2| no2|rspm_pm10|pm_2_5|year|month|day|               time|hour|minute|second|aqi|aqi_category|  latitude| longitude|
+--------------+----------------+----------------------+------------------------------+--------------------+----+----+---------+------+----+-----+---+-------------------+----+------+------+---+------------+----------+----------+
|7/1/2014 12:48|       Meghalaya|                 Dawki|          Terrace building,...|Residential, Rura...| 2.0|11.0|     52.0|  NULL|2014|    7|  1|2025-10-03 12:48:04|  12|    48|     4| 52|Satisfactory|25.1856343|92.0215717|
|1/1/2014 12:25|             Goa|                Panaji|          Infront of Old GS...|Residential, Rura...| 6.0| 9.0|     61.0|  NULL|2014|    1|  1|2025-10-03 12:25:16|  12|    25|    16| 61|Satisfactory|15.4989946|73.8282141|
| 1/1/2010 4:37|      Chandigarh|            Chandigarh|          Modern Foods, Ind...|     Industrial Area| 2.0|36.0|     95.0|  NULL|2010|    1|  1|2025-10-03 04:37:47|   4|    37|    47| 95|Satisfactory|30.7334421|76.7797143|
| 2/1/2004 4:41|           Assam|              Guwahati|          Head Office, Bamu...|Residential, Rura...| 2.0|16.2|    173.0|  NULL|2004|    2|  1|2025-10-03 04:41:29|   4|    41|    29|149|    Moderate|26.1805978| 91.753943|
| 2/1/2014 4:56|     West Bengal|        South Suburban|          Amtala, South Sub...|     Industrial Area|13.0|75.0|    185.0|  NULL|2014|    2|  1|2025-10-03 04:56:23|   4|    56|    23|157|    Moderate|22.5097756|88.3214307|
| 7/7/2014 4:58|      Puducherry|              Karaikal|          B.Ed College (PKC...|Residential, Rura...| 6.0| 9.0|     16.0|  NULL|2014|    7|  7|2025-10-03 04:58:12|   4|    58|    12| 16|        Good|  10.91571|79.8375761|
| 2/1/2014 5:05|         Mizoram|                Aizawl|          Khatla, M.G-Road,...|Residential, Rura...| 2.0| 5.0|     53.0|  NULL|2014|    2|  1|2025-10-03 05:05:24|   5|     5|    24| 53|Satisfactory|23.7277631|92.7179947|
| 1/1/2008 5:05|         Mizoram|                Aizawl|                     Bawngkawn|Residential and o...|NULL| 9.4|     60.0|  NULL|2008|    1|  1|2025-10-03 05:05:05|   5|     5|     5| 60|Satisfactory|23.7534536|   92.7281|
| 1/1/2014 4:38|      Chandigarh|            Chandigarh|          Modern Foods, Ind...|     Industrial Area| 2.0|16.0|    247.0|  NULL|2014|    1|  1|2025-10-03 04:38:08|   4|    38|     8|198|    Moderate|30.7334421|76.7797143|
| 6/1/2007 4:47|  Madhya Pradesh|                Bhopal|                    Govindpura|    Industrial Areas| 6.3|12.7|     69.0|  NULL|2007|    6|  1|2025-10-03 04:47:55|   4|    47|    55| 69|Satisfactory|23.2460198|77.4467044|
| 2/1/2004 4:50|     Maharashtra|                Nashik|          RTO Colony Tank, ...|Residential, Rura...|42.0|28.0|     93.0|  NULL|2004|    2|  1|2025-10-03 04:50:31|   4|    50|    31| 93|Satisfactory|20.0112475|73.7902364|
| 3/1/2012 5:01|          Kerala|             Alappuzha|          DC Mills Pathirap...|     Industrial Area| 2.0| 4.5|     60.0|  NULL|2012|    3|  1|2025-10-03 05:01:07|   5|     1|     7| 60|Satisfactory| 9.5006651|76.4124143|
| 2/8/2005 5:05|        Nagaland|               Dimapur|                   Bank Colony|Residential and o...|NULL|NULL|     20.0|  NULL|2005|    2|  8|2025-10-03 05:05:47|   5|     5|    47| 20|        Good|25.9041378|93.7177609|
| 3/1/2009 5:10|    Chhattisgarh|          Bhilai Nagar|                M.P.L.U. Nigam|    Industrial Areas|27.0|32.8|    162.0|  NULL|2009|    3|  1|2025-10-03 05:10:10|   5|    10|    10|142|    Moderate|21.2011836|81.3352266|
| 1/1/2013 5:20|Himachal Pradesh|                 Baddi|                 Housing Board|Residential, Rura...| 3.0|20.0|    120.0|  NULL|2013|    1|  1|2025-10-03 05:20:17|   5|    20|    17|114|    Moderate|30.9763026|76.7674001|
| 3/7/2009 6:57|  Andhra Pradesh|                Guntur|          Hindu College Guntur|Residential and o...| 4.0| 9.0|     79.0|  NULL|2009|    3|  7|2025-10-03 06:57:21|   6|    57|    21| 79|Satisfactory| 16.292349| 80.443957|
| 3/1/2013 6:35|         Mizoram|                Aizawl|          Khatla, M.G-Road,...|Residential, Rura...| 2.0| 4.5|     49.0|  NULL|2013|    3|  1|2025-10-03 06:35:20|   6|    35|    20| 49|        Good|23.7277631|92.7179947|
|2/1/2014 11:38|       Rajasthan|                 Alwar|          Regional Office, ...|Residential, Rura...| 8.0|18.0|    330.0|  NULL|2014|    2|  1|2025-10-03 11:38:39|  11|    38|    39|280|        Poor|27.4140048|76.6170387|
| 3/1/2009 6:35|        Nagaland|               Dimapur|                   Bank Colony|Residential and o...|NULL|17.5|     62.0|  NULL|2009|    3|  1|2025-10-03 06:35:44|   6|    35|    44| 62|Satisfactory|25.9041378|93.7177609|
| 4/4/2006 6:36|          Punjab|              Amritsar|           Nagina Soap Factory|    Industrial Areas|11.8|31.8|     NULL|  NULL|2006|    4|  4|2025-10-03 06:36:37|   6|    36|    37| 40|        Good|31.6356659|74.8787496|
+--------------+----------------+----------------------+------------------------------+--------------------+----+----+---------+------+----+-----+---+-------------------+----+------+------+---+------------+----------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import to_timestamp

historic_df = historic_df.withColumn("datetime", to_timestamp(historic_df["_sampling_date"], "M/d/yyyy H:m"))

historic_df.show()

+--------------+----------------+----------------------+------------------------------+--------------------+----+----+---------+------+----+-----+---+-------------------+----+------+------+---+------------+----------+----------+-------------------+
|_sampling_date|           state|city_town_village_area|location_of_monitoring_station|    type_of_location| so2| no2|rspm_pm10|pm_2_5|year|month|day|               time|hour|minute|second|aqi|aqi_category|  latitude| longitude|           datetime|
+--------------+----------------+----------------------+------------------------------+--------------------+----+----+---------+------+----+-----+---+-------------------+----+------+------+---+------------+----------+----------+-------------------+
|7/1/2014 12:48|       Meghalaya|                 Dawki|          Terrace building,...|Residential, Rura...| 2.0|11.0|     52.0|  NULL|2014|    7|  1|2025-10-03 12:48:04|  12|    48|     4| 52|Satisfactory|25.1856343|92.0215717|2014-07-01 12:48:00|
|1/1/2014 12:25|             Goa|                Panaji|          Infront of Old GS...|Residential, Rura...| 6.0| 9.0|     61.0|  NULL|2014|    1|  1|2025-10-03 12:25:16|  12|    25|    16| 61|Satisfactory|15.4989946|73.8282141|2014-01-01 12:25:00|
| 1/1/2010 4:37|      Chandigarh|            Chandigarh|          Modern Foods, Ind...|     Industrial Area| 2.0|36.0|     95.0|  NULL|2010|    1|  1|2025-10-03 04:37:47|   4|    37|    47| 95|Satisfactory|30.7334421|76.7797143|2010-01-01 04:37:00|
| 2/1/2004 4:41|           Assam|              Guwahati|          Head Office, Bamu...|Residential, Rura...| 2.0|16.2|    173.0|  NULL|2004|    2|  1|2025-10-03 04:41:29|   4|    41|    29|149|    Moderate|26.1805978| 91.753943|2004-02-01 04:41:00|
| 2/1/2014 4:56|     West Bengal|        South Suburban|          Amtala, South Sub...|     Industrial Area|13.0|75.0|    185.0|  NULL|2014|    2|  1|2025-10-03 04:56:23|   4|    56|    23|157|    Moderate|22.5097756|88.3214307|2014-02-01 04:56:00|
| 7/7/2014 4:58|      Puducherry|              Karaikal|          B.Ed College (PKC...|Residential, Rura...| 6.0| 9.0|     16.0|  NULL|2014|    7|  7|2025-10-03 04:58:12|   4|    58|    12| 16|        Good|  10.91571|79.8375761|2014-07-07 04:58:00|
| 2/1/2014 5:05|         Mizoram|                Aizawl|          Khatla, M.G-Road,...|Residential, Rura...| 2.0| 5.0|     53.0|  NULL|2014|    2|  1|2025-10-03 05:05:24|   5|     5|    24| 53|Satisfactory|23.7277631|92.7179947|2014-02-01 05:05:00|
| 1/1/2008 5:05|         Mizoram|                Aizawl|                     Bawngkawn|Residential and o...|NULL| 9.4|     60.0|  NULL|2008|    1|  1|2025-10-03 05:05:05|   5|     5|     5| 60|Satisfactory|23.7534536|   92.7281|2008-01-01 05:05:00|
| 1/1/2014 4:38|      Chandigarh|            Chandigarh|          Modern Foods, Ind...|     Industrial Area| 2.0|16.0|    247.0|  NULL|2014|    1|  1|2025-10-03 04:38:08|   4|    38|     8|198|    Moderate|30.7334421|76.7797143|2014-01-01 04:38:00|
| 6/1/2007 4:47|  Madhya Pradesh|                Bhopal|                    Govindpura|    Industrial Areas| 6.3|12.7|     69.0|  NULL|2007|    6|  1|2025-10-03 04:47:55|   4|    47|    55| 69|Satisfactory|23.2460198|77.4467044|2007-06-01 04:47:00|
| 2/1/2004 4:50|     Maharashtra|                Nashik|          RTO Colony Tank, ...|Residential, Rura...|42.0|28.0|     93.0|  NULL|2004|    2|  1|2025-10-03 04:50:31|   4|    50|    31| 93|Satisfactory|20.0112475|73.7902364|2004-02-01 04:50:00|
| 3/1/2012 5:01|          Kerala|             Alappuzha|          DC Mills Pathirap...|     Industrial Area| 2.0| 4.5|     60.0|  NULL|2012|    3|  1|2025-10-03 05:01:07|   5|     1|     7| 60|Satisfactory| 9.5006651|76.4124143|2012-03-01 05:01:00|
| 2/8/2005 5:05|        Nagaland|               Dimapur|                   Bank Colony|Residential and o...|NULL|NULL|     20.0|  NULL|2005|    2|  8|2025-10-03 05:05:47|   5|     5|    47| 20|        Good|25.9041378|93.7177609|2005-02-08 05:05:00|
| 3/1/2009 5:10|    Chhattisgarh|          Bhilai Nagar|                M.P.L.U. Nigam|    Industrial Areas|27.0|32.8|    162.0|  NULL|2009|    3|  1|2025-10-03 05:10:10|   5|    10|    10|142|    Moderate|21.2011836|81.3352266|2009-03-01 05:10:00|
| 1/1/2013 5:20|Himachal Pradesh|                 Baddi|                 Housing Board|Residential, Rura...| 3.0|20.0|    120.0|  NULL|2013|    1|  1|2025-10-03 05:20:17|   5|    20|    17|114|    Moderate|30.9763026|76.7674001|2013-01-01 05:20:00|
| 3/7/2009 6:57|  Andhra Pradesh|                Guntur|          Hindu College Guntur|Residential and o...| 4.0| 9.0|     79.0|  NULL|2009|    3|  7|2025-10-03 06:57:21|   6|    57|    21| 79|Satisfactory| 16.292349| 80.443957|2009-03-07 06:57:00|
| 3/1/2013 6:35|         Mizoram|                Aizawl|          Khatla, M.G-Road,...|Residential, Rura...| 2.0| 4.5|     49.0|  NULL|2013|    3|  1|2025-10-03 06:35:20|   6|    35|    20| 49|        Good|23.7277631|92.7179947|2013-03-01 06:35:00|
|2/1/2014 11:38|       Rajasthan|                 Alwar|          Regional Office, ...|Residential, Rura...| 8.0|18.0|    330.0|  NULL|2014|    2|  1|2025-10-03 11:38:39|  11|    38|    39|280|        Poor|27.4140048|76.6170387|2014-02-01 11:38:00|
| 3/1/2009 6:35|        Nagaland|               Dimapur|                   Bank Colony|Residential and o...|NULL|17.5|     62.0|  NULL|2009|    3|  1|2025-10-03 06:35:44|   6|    35|    44| 62|Satisfactory|25.9041378|93.7177609|2009-03-01 06:35:00|
| 4/4/2006 6:36|          Punjab|              Amritsar|           Nagina Soap Factory|    Industrial Areas|11.8|31.8|     NULL|  NULL|2006|    4|  4|2025-10-03 06:36:37|   6|    36|    37| 40|        Good|31.6356659|74.8787496|2006-04-04 06:36:00|
+--------------+----------------+----------------------+------------------------------+--------------------+----+----+---------+------+----+-----+---+-------------------+----+------+------+---+------------+----------+----------+-------------------+
only showing top 20 rows

In [ ]:
historic_df = historic_df.drop("_sampling_date","second","time")

In [ ]:
# Get unique location-year pairs using Spark DataFrame operations
unique_loc_year_spark = historic_df.select('latitude', 'longitude', 'year').distinct()

# Show the count of unique location-year pairs
print("Total unique (lat,lon,year) pairs:", unique_loc_year_spark.count())

# Display the first few rows of the unique location-year pairs
unique_loc_year_spark.show(n=5)

Total unique (lat,lon,year) pairs: 2495
+----------+----------+----+
|  latitude| longitude|year|
+----------+----------+----+
| 17.360589|78.4740613|2014|
|23.3701968|85.3249027|2004|
|25.6618755|94.1019156|2011|
|26.9153191|75.8169299|2012|
|23.1883478|79.9092722|2005|
+----------+----------+----+
only showing top 5 rows

In [ ]:
import os
import pandas as pd
import requests
import time
import json
from tqdm import tqdm
from concurrent.futures import ThreadPoolExecutor, as_completed
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, DoubleType, TimestampType

# Initialize Spark session
spark = SparkSession.builder.appName("WeatherFetcher").getOrCreate()

# Schema for final Spark DataFrame
weather_schema = StructType([
    StructField("datetime", TimestampType(), True),
    StructField("temperature", DoubleType(), True),
    StructField("wind", DoubleType(), True),
    StructField("humidity", DoubleType(), True),
    StructField("lat", DoubleType(), True),
    StructField("lon", DoubleType(), True)
])

# ----------------------------
# Function to fetch weather
# ----------------------------
def fetch_weather(lat, lon, year, max_retries=5):
    lat = float(lat)
    lon = float(lon)
    year = int(year)

    start = f"{year}-01-01"
    end   = f"{year}-12-31"

    params = {
        "latitude": lat,
        "longitude": lon,
        "start_date": start,
        "end_date": end,
        "hourly": ["temperature_2m", "windspeed_10m", "relative_humidity_2m"],
        "timezone": "Asia/Kolkata"
    }

    retries = 0
    while retries < max_retries:
        try:
            r = requests.get("https://archive-api.open-meteo.com/v1/archive", params=params, timeout=60)
            r.raise_for_status()
            data = r.json()

            if "hourly" not in data or not data["hourly"]["time"]:
                return None

            pdf = pd.DataFrame({
                "datetime": pd.to_datetime(data["hourly"]["time"]),
                "temperature": data["hourly"]["temperature_2m"],
                "wind": data["hourly"]["windspeed_10m"],
                "humidity": data["hourly"]["relative_humidity_2m"],
                "lat": lat,
                "lon": lon
            })
            return pdf

        except (requests.exceptions.RequestException, json.JSONDecodeError):
            retries += 1
            time.sleep(2 ** retries)  # exponential backoff
        except Exception as e:
            print(f"Unexpected error for {lat},{lon},{year}: {e}")
            return None
    return None

# ----------------------------
# MAIN PIPELINE
# ----------------------------
# Get your unique (lat, lon, year) pairs from Spark
pairs = unique_loc_year_spark.collect()
print(f"Total tasks: {len(pairs)}")

results = []

# Run parallel fetching
with ThreadPoolExecutor(max_workers=20) as executor:  # adjust workers depending on CPU/internet
    futures = {
        executor.submit(fetch_weather, row.latitude, row.longitude, row.year): row
        for row in pairs
    }

    for future in tqdm(as_completed(futures), total=len(futures), desc="Fetching weather"):
        pdf = future.result()
        if pdf is not None:
            results.append(pdf)

# ----------------------------
# Convert results to Spark DataFrame
# ----------------------------
if results:
    all_weather_pd = pd.concat(results, ignore_index=True)
    weather_df = spark.createDataFrame(all_weather_pd, schema=weather_schema)

    # Save fewer parquet files
    weather_df.coalesce(10).write.mode("overwrite").parquet(
        "C:/Users/SNEHIL/Downloads/Air_quality_Monitoring/final_weather_data_all"
    )
    print("✅ Weather data saved successfully!")
else:
    print("⚠️ No data fetched.")

In [ ]:
weather_df = spark.read.parquet('/content/drive/MyDrive/all_weather_pd_compatible_final.parquet')

In [ ]:
weather_df.show()

+-------------------+-----------+----+--------+---------+----------+
|           datetime|temperature|wind|humidity|      lat|       lon|
+-------------------+-----------+----+--------+---------+----------+
|2013-01-01 00:00:00|       25.2| 7.1|      89|9.5006651|76.4124143|
|2013-01-01 01:00:00|       25.1| 6.0|      89|9.5006651|76.4124143|
|2013-01-01 02:00:00|       24.7| 4.7|      91|9.5006651|76.4124143|
|2013-01-01 03:00:00|       24.3| 3.5|      93|9.5006651|76.4124143|
|2013-01-01 04:00:00|       24.1| 4.6|      94|9.5006651|76.4124143|
|2013-01-01 05:00:00|       23.9| 4.1|      94|9.5006651|76.4124143|
|2013-01-01 06:00:00|       23.6| 3.5|      96|9.5006651|76.4124143|
|2013-01-01 07:00:00|       24.2| 4.7|      95|9.5006651|76.4124143|
|2013-01-01 08:00:00|       26.1| 5.4|      85|9.5006651|76.4124143|
|2013-01-01 09:00:00|       27.2| 4.5|      79|9.5006651|76.4124143|
|2013-01-01 10:00:00|       28.4| 2.6|      73|9.5006651|76.4124143|
|2013-01-01 11:00:00|       29.4| 2.6|      67|9.5006651|76.4124143|
|2013-01-01 12:00:00|       30.0| 3.4|      64|9.5006651|76.4124143|
|2013-01-01 13:00:00|       30.4| 4.3|      62|9.5006651|76.4124143|
|2013-01-01 14:00:00|       30.3| 6.2|      63|9.5006651|76.4124143|
|2013-01-01 15:00:00|       30.1| 8.6|      64|9.5006651|76.4124143|
|2013-01-01 16:00:00|       29.5| 8.6|      67|9.5006651|76.4124143|
|2013-01-01 17:00:00|       28.9| 7.2|      71|9.5006651|76.4124143|
|2013-01-01 18:00:00|       28.0| 4.6|      75|9.5006651|76.4124143|
|2013-01-01 19:00:00|       27.4| 4.4|      80|9.5006651|76.4124143|
+-------------------+-----------+----+--------+---------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import date_trunc

# Truncate the datetime column in historic_df to the hour
historic_df_hourly = historic_df.withColumn("datetime_hourly", date_trunc("hour", historic_df["datetime"]))

# Select only the desired columns from weather_df
weather_df_selected = weather_df.select("datetime", "temperature", "wind", "humidity", "lat", "lon")

# Join the two dataframes on latitude, longitude, and the hour part of the datetime
joined_df = historic_df_hourly.join(
    weather_df_selected,
    (historic_df_hourly.latitude == weather_df_selected.lat) &
    (historic_df_hourly.longitude == weather_df_selected.lon) &
    (historic_df_hourly.datetime_hourly == weather_df_selected.datetime),
    "inner"
)

# Drop the redundant latitude, longitude and datetime_hourly columns from historic_df_hourly
joined_df = joined_df.drop(historic_df_hourly.latitude).drop(historic_df_hourly.longitude).drop("datetime_hourly")


joined_df.show()

+------+----------------------+------------------------------+--------------------+---+----+---------+------+----+-----+---+----+------+---+------------+-------------------+-------------------+-----------+----+--------+---------+----------+
| state|city_town_village_area|location_of_monitoring_station|    type_of_location|so2| no2|rspm_pm10|pm_2_5|year|month|day|hour|minute|aqi|aqi_category|           datetime|           datetime|temperature|wind|humidity|      lat|       lon|
+------+----------------------+------------------------------+--------------------+---+----+---------+------+----+-----+---+----+------+---+------------+-------------------+-------------------+-----------+----+--------+---------+----------+
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|7.1|23.2|     63.0|  NULL|2005|    6| 21|   4|    45| 63|Satisfactory|2005-06-21 04:45:00|2005-06-21 04:00:00|       23.8|12.0|      95|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.4|25.0|     65.0|  NULL|2005|    6| 24|   4|    45| 65|Satisfactory|2005-06-24 04:45:00|2005-06-24 04:00:00|       24.0|15.3|      95|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.6|25.3|     74.0|  NULL|2005|    7| 10|   4|    45| 74|Satisfactory|2005-07-10 04:45:00|2005-07-10 04:00:00|       23.8|23.7|      93|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|7.1|24.6|     63.0|  NULL|2005|    7| 15|   4|    45| 63|Satisfactory|2005-07-15 04:45:00|2005-07-15 04:00:00|       24.0|11.6|      94|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.7|18.0|     46.0|  NULL|2005|   10| 13|   4|    45| 46|        Good|2005-10-13 04:45:00|2005-10-13 04:00:00|       23.6|11.6|      98|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.1|24.4|     87.0|  NULL|2005|   10| 18|   4|    45| 87|Satisfactory|2005-10-18 04:45:00|2005-10-18 04:00:00|       24.6| 8.6|      88|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.4|24.1|     51.0|  NULL|2005|   11| 11|   4|    45| 51|Satisfactory|2005-11-11 04:45:00|2005-11-11 04:00:00|       23.5| 4.7|      98|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.7|27.8|     71.0|  NULL|2005|   12| 30|   4|    45| 71|Satisfactory|2005-12-30 04:45:00|2005-12-30 04:00:00|       23.0| 8.1|      87|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.5|26.7|     74.0|  NULL|2005|   12| 31|   4|    45| 74|Satisfactory|2005-12-31 04:45:00|2005-12-31 04:00:00|       22.1| 7.6|      87|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.1|21.8|     62.0|  NULL|2006|    2| 17|   4|    44| 62|Satisfactory|2006-02-17 04:44:00|2006-02-17 04:00:00|       23.6| 9.1|      88|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.4|23.6|     68.0|  NULL|2006|    3| 24|   4|    44| 68|Satisfactory|2006-03-24 04:44:00|2006-03-24 04:00:00|       25.2| 9.0|      91|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.8|25.3|     79.0|  NULL|2006|    4|  4|   4|    44| 79|Satisfactory|2006-04-04 04:44:00|2006-04-04 04:00:00|       25.4| 8.1|      91|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.6|25.3|     66.0|  NULL|2006|    5| 26|   4|    44| 66|Satisfactory|2006-05-26 04:44:00|2006-05-26 04:00:00|       24.4|13.5|      91|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.6|21.8|     89.0|  NULL|2006|    6| 20|   4|    44| 89|Satisfactory|2006-06-20 04:44:00|2006-06-20 04:00:00|       24.5|10.2|      93|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|7.3|22.7|     65.0|  NULL|2006|    7|  4|   4|    44| 65|Satisfactory|2006-07-04 04:44:00|2006-07-04 04:00:00|       24.3|21.2|      96|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.2|27.6|     54.0|  NULL|2006|    7| 18|   4|    44| 54|Satisfactory|2006-07-18 04:44:00|2006-07-18 04:00:00|       23.9|14.4|      95|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.5|26.7|     59.0|  NULL|2006|    7| 28|   4|    44| 59|Satisfactory|2006-07-28 04:44:00|2006-07-28 04:00:00|       23.7|13.3|      92|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|7.2|24.1|     69.0|  NULL|2006|    8|  9|   4|    44| 69|Satisfactory|2006-08-09 04:44:00|2006-08-09 04:00:00|       23.9| 9.2|      93|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.9|21.3|     74.0|  NULL|2006|    8| 15|   4|    44| 74|Satisfactory|2006-08-15 04:44:00|2006-08-15 04:00:00|       23.7|14.7|      92|8.4811163|76.9592286|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.6|24.2|     78.0|  NULL|2006|    8| 18|   4|    44| 78|Satisfactory|2006-08-18 04:44:00|2006-08-18 04:00:00|       23.6|15.9|      96|8.4811163|76.9592286|
+------+----------------------+------------------------------+--------------------+---+----+---------+------+----+-----+---+----+------+---+------------+-------------------+-------------------+-----------+----+--------+---------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col

missing_temperature_count = joined_df1.filter(col("temperature").isNull()).count()

print(f"Number of times temperature is missing: {missing_temperature_count}")

Number of times temperature is missing: 0

In [ ]:
from pyspark.sql.functions import col

# Filter for rows where temperature is missing
missing_temperature_df = joined_df.filter(col("temperature").isNull())

# Select unique pairs of latitude, longitude, and year
unique_missing_temp_locations = missing_temperature_df.select('latitude', 'longitude', 'year').distinct()

# Show the unique pairs
unique_missing_temp_locations.show()

+--------+---------+----+
|latitude|longitude|year|
+--------+---------+----+
+--------+---------+----+

In [ ]:
# Drop the redundant datetime column from weather_df_selected
joined_df1 = joined_df.drop(weather_df_selected.datetime)

joined_df.printSchema()

root
 |-- state: string (nullable = true)
 |-- city_town_village_area: string (nullable = true)
 |-- location_of_monitoring_station: string (nullable = true)
 |-- type_of_location: string (nullable = true)
 |-- so2: double (nullable = true)
 |-- no2: double (nullable = true)
 |-- rspm_pm10: double (nullable = true)
 |-- pm_2_5: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- aqi: integer (nullable = true)
 |-- aqi_category: string (nullable = true)
 |-- datetime: timestamp (nullable = true)
 |-- datetime: timestamp_ntz (nullable = true)
 |-- temperature: double (nullable = true)
 |-- wind: double (nullable = true)
 |-- humidity: long (nullable = true)

In [ ]:
joined_df1.show(n=5)

+------+----------------------+------------------------------+--------------------+---+----+---------+------+----+-----+---+----+------+---+------------+-------------------+-----------+----+--------+
| state|city_town_village_area|location_of_monitoring_station|    type_of_location|so2| no2|rspm_pm10|pm_2_5|year|month|day|hour|minute|aqi|aqi_category|           datetime|temperature|wind|humidity|
+------+----------------------+------------------------------+--------------------+---+----+---------+------+----+-----+---+----+------+---+------------+-------------------+-----------+----+--------+
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|7.1|23.2|     63.0|  NULL|2005|    6| 21|   4|    45| 63|Satisfactory|2005-06-21 04:45:00|       23.8|12.0|      95|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.4|25.0|     65.0|  NULL|2005|    6| 24|   4|    45| 65|Satisfactory|2005-06-24 04:45:00|       24.0|15.3|      95|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.6|25.3|     74.0|  NULL|2005|    7| 10|   4|    45| 74|Satisfactory|2005-07-10 04:45:00|       23.8|23.7|      93|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|7.1|24.6|     63.0|  NULL|2005|    7| 15|   4|    45| 63|Satisfactory|2005-07-15 04:45:00|       24.0|11.6|      94|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.7|18.0|     46.0|  NULL|2005|   10| 13|   4|    45| 46|        Good|2005-10-13 04:45:00|       23.6|11.6|      98|
+------+----------------------+------------------------------+--------------------+---+----+---------+------+----+-----+---+----+------+---+------------+-------------------+-----------+----+--------+
only showing top 5 rows

In [ ]:
# Drop the redundant latitude, longitude and datetime_hourly columns from historic_df_hourly
joined_df = joined_df.drop( "lat", "lon")
joined_df.show()

+------+----------------------+------------------------------+--------------------+---+----+---------+------+----+-----+---+----+------+---+------------+-------------------+-------------------+-----------+----+--------+
| state|city_town_village_area|location_of_monitoring_station|    type_of_location|so2| no2|rspm_pm10|pm_2_5|year|month|day|hour|minute|aqi|aqi_category|           datetime|           datetime|temperature|wind|humidity|
+------+----------------------+------------------------------+--------------------+---+----+---------+------+----+-----+---+----+------+---+------------+-------------------+-------------------+-----------+----+--------+
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|7.1|23.2|     63.0|  NULL|2005|    6| 21|   4|    45| 63|Satisfactory|2005-06-21 04:45:00|2005-06-21 04:00:00|       23.8|12.0|      95|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.4|25.0|     65.0|  NULL|2005|    6| 24|   4|    45| 65|Satisfactory|2005-06-24 04:45:00|2005-06-24 04:00:00|       24.0|15.3|      95|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.6|25.3|     74.0|  NULL|2005|    7| 10|   4|    45| 74|Satisfactory|2005-07-10 04:45:00|2005-07-10 04:00:00|       23.8|23.7|      93|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|7.1|24.6|     63.0|  NULL|2005|    7| 15|   4|    45| 63|Satisfactory|2005-07-15 04:45:00|2005-07-15 04:00:00|       24.0|11.6|      94|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.7|18.0|     46.0|  NULL|2005|   10| 13|   4|    45| 46|        Good|2005-10-13 04:45:00|2005-10-13 04:00:00|       23.6|11.6|      98|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.1|24.4|     87.0|  NULL|2005|   10| 18|   4|    45| 87|Satisfactory|2005-10-18 04:45:00|2005-10-18 04:00:00|       24.6| 8.6|      88|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.4|24.1|     51.0|  NULL|2005|   11| 11|   4|    45| 51|Satisfactory|2005-11-11 04:45:00|2005-11-11 04:00:00|       23.5| 4.7|      98|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.7|27.8|     71.0|  NULL|2005|   12| 30|   4|    45| 71|Satisfactory|2005-12-30 04:45:00|2005-12-30 04:00:00|       23.0| 8.1|      87|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.5|26.7|     74.0|  NULL|2005|   12| 31|   4|    45| 74|Satisfactory|2005-12-31 04:45:00|2005-12-31 04:00:00|       22.1| 7.6|      87|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.1|21.8|     62.0|  NULL|2006|    2| 17|   4|    44| 62|Satisfactory|2006-02-17 04:44:00|2006-02-17 04:00:00|       23.6| 9.1|      88|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.4|23.6|     68.0|  NULL|2006|    3| 24|   4|    44| 68|Satisfactory|2006-03-24 04:44:00|2006-03-24 04:00:00|       25.2| 9.0|      91|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.8|25.3|     79.0|  NULL|2006|    4|  4|   4|    44| 79|Satisfactory|2006-04-04 04:44:00|2006-04-04 04:00:00|       25.4| 8.1|      91|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.6|25.3|     66.0|  NULL|2006|    5| 26|   4|    44| 66|Satisfactory|2006-05-26 04:44:00|2006-05-26 04:00:00|       24.4|13.5|      91|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.6|21.8|     89.0|  NULL|2006|    6| 20|   4|    44| 89|Satisfactory|2006-06-20 04:44:00|2006-06-20 04:00:00|       24.5|10.2|      93|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|7.3|22.7|     65.0|  NULL|2006|    7|  4|   4|    44| 65|Satisfactory|2006-07-04 04:44:00|2006-07-04 04:00:00|       24.3|21.2|      96|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.2|27.6|     54.0|  NULL|2006|    7| 18|   4|    44| 54|Satisfactory|2006-07-18 04:44:00|2006-07-18 04:00:00|       23.9|14.4|      95|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.5|26.7|     59.0|  NULL|2006|    7| 28|   4|    44| 59|Satisfactory|2006-07-28 04:44:00|2006-07-28 04:00:00|       23.7|13.3|      92|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|7.2|24.1|     69.0|  NULL|2006|    8|  9|   4|    44| 69|Satisfactory|2006-08-09 04:44:00|2006-08-09 04:00:00|       23.9| 9.2|      93|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|5.9|21.3|     74.0|  NULL|2006|    8| 15|   4|    44| 74|Satisfactory|2006-08-15 04:44:00|2006-08-15 04:00:00|       23.7|14.7|      92|
|Kerala|            Trivandrum|                  PRS Hospital|Residential and o...|6.6|24.2|     78.0|  NULL|2006|    8| 18|   4|    44| 78|Satisfactory|2006-08-18 04:44:00|2006-08-18 04:00:00|       23.6|15.9|      96|
+------+----------------------+------------------------------+--------------------+---+----+---------+------+----+-----+---+----+------+---+------------+-------------------+-------------------+-----------+----+--------+
only showing top 20 rows

In [ ]:
joined_df1.write.parquet("/content/drive/MyDrive/Air Quality Monitoring Data/ processed / govt_data.parquet")

In [ ]:
df1 = spark.read.parquet("/content/drive/MyDrive/Air Quality Monitoring Data/ processed /air_quality_with_weather1.parquet")

In [ ]:
df1.printSchema()

root
 |-- location_id: long (nullable = true)
 |-- sensors_id: long (nullable = true)
 |-- location: string (nullable = true)
 |-- datetime: timestamp_ntz (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- value_co: double (nullable = true)
 |-- value_no2: double (nullable = true)
 |-- value_o3: double (nullable = true)
 |-- value_pm10: double (nullable = true)
 |-- value_pm25: double (nullable = true)
 |-- value_so2: double (nullable = true)
 |-- datetime_hour: timestamp_ntz (nullable = true)
 |-- lat_round: double (nullable = true)
 |-- lon_round: double (nullable = true)
 |-- temperature: double (nullable = true)
 |-- wind: double (nullable = true)
 |-- humidity: long (nullable = true)
 |-- units: string (nullable = true)
 |-- AQI: double (nullable = true)